*{
  margin: 0;
  padding: 0;
}

h1, h2{
  color:#85586F;
  text-align: center;
}
  
  
  
  footer ul {
    list-style-type: none;
    padding-left: 0px; }
    footer ul li a {
      width: 20%;
      width: 20px;
      display: inline-block;
      padding: 5px;
      margin: 40px; }
    footer ul li img {
      transition: box-shadow .3s; }
    footer ul li img:hover {
      box-shadow: 0 0 11px rgba(33, 33, 33, 0.8); }
  
  footer a {
    margin: 0;}
  
  footer p {
    text-align: center;
    padding-bottom: 20px;
    font-family: "Nanum Myeongjo", serif;
    font-weight: bold;
    color: #85586F; }
  
  footer input {
    line-height: 40px;
    font-size: 14px;
    padding: 0 20px; }
  
  footer button {
    line-height: 40px;
    font-size: 14px;
    padding: 0 20px;
    font-weight: bold;
    background-color: #85586F;
    color: white;
    font-family: "Nanum Myeongjo", serif; }
  
  footer button:hover {
    box-shadow: 5px 5px #d3d2d2;
    cursor: pointer; }

 .productosPage img {
    margin: 40px; }
      
.productosPage img:hover {
    cursor: pointer;
    opacity: 0.8;
    width: 225px;
    height: 225px; }

 .productosImg {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 5px;
    justify-items: center; }