* {
  margin: 0;
  padding: 0;
}

h1,
h2 {
  color: #85586f;
  text-align: center;
}

.productos {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 50px;
  min-height: 100vh;
}

#warning{
  color: #85586f;
}

.btn-primary {
  background-color: #85586f;
  border-color: #85586f;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #85586f ;
  --bs-btn-hover-border-color: #85586f;
  --bs-btn-bg: #85586f;
  --bs-btn-border-color: #85586f;
  --bs-btn-disabled-bg: #85586f;
  --bs-btn-disabled-border-color: #85586f;
}
.btn-outline-success {
  --bs-btn-color: #85586f;
  --bs-btn-border-color: #85586f;
  --bs-btn-hover-bg: #85586f;
  --bs-btn-hover-border-color: #85586f;
}
.card {
  margin-top: 20px;
}

#carrito{
  display: none;
}

#verCarritoBtn, #vaciarCarritoBtn {
  width: 200px;
  float: right;
}

footer a {
  margin: 0;
}
footer p {
  text-align: center;
  padding-bottom: 20px;
  font-weight: bold;
  color: #85586f;
}
